@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


#title{
    text-align: center;
}

#heading{
    display:flex;
    color: #5e15f1;
    font-family: 'quicksand',sans-serif;
    font-size: 34px;
}

#navBar{
    display:flex;
    justify-content: space-around;
    font-family: 'Dosis',sans-serif;
}